# Created by .ignore support plugin (hsz.mobi)
# Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.pdf

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# my ignores
.idea/
snets.iml
target/
.settings/
.classpath
.project
simulations/
*__pycache__
